{{page-title "About"}}
<div class="about-page">
    <h1>Hi!</h1>
    <p class="about-text">Thanks for visiting my site! My name is Rebecca and I am a
        software engineer & artist based out of Seattle, WA. I have a lot of art styles but
        I usually create realism and pointalism pieces. I am happy to sell prints of most pieces, 
        just click the order print icon on the piece you are interested in and fill out the contact 
        form. I'm also open to commissions on a case by case basis.
    </p>
</div>