{{page-title "About"}}
<div class="about-page">
    <h1>Hi!</h1>
    <p class="about-text">Thanks for visiting my site! My name is Rebecca and I am a
        software engineer & artist. I have a lot of art styles but
        I usually create realism and pointalism pieces. I am happy 
        to order prints for you or any piece, just fill out the 
        contact form with what you are looking for. I'm also open to 
        commissions on a case by case basis.
    </p>
    <ContactForm @isSellingPrints={{true}} @dimensions="16 x 20"/>
</div>