{{page-title "Artwork"}}
{{!-- <ArtGrid /> --}}
<div class="art-grid-parent">
    {{#each @model as |artwork|}}
        <div class="thumbnail-parent">
            <Thumbnail @fileName={{artwork.filePath}} />
        </div>
    {{/each}}
</div>