:root {
    --main: #4751b6;
    --highlight: #8a94ff;
  }

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 1fr auto;
    background-color: purple;
    gap: 10px;
    justify-items: start;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.footer-title {
    color: var(--highlight);
    grid-column: 1/3;
    grid-row: 1/2;
}

.footer-copyright {
    color: var(--highlight);
    grid-column: 3/3;
    grid-row: 2/2;
}