<div class="art-grid-parent">
    {{#each this.artworkImages as |artwork|}}
        <div class="thumbnail-parent">
            <Thumbnail @fileName={{artwork}} />
        </div>
    {{/each}}
</div>


// Transform the art-grid component into the artwork template
// Thumnail component can stay the same since it shouldn't have a route for each one