<div class="footer-parent">
    <div class="footer">
        <h1 class="footer-title">Footer</h1>
        <p class="footer-copyright">Copyright 2021</p>
        <a href="https://www.instagram.com/rebeccarothschild/?hl=en" class="instagram-icon">
            <FaIcon
                @icon="instagram"
                @prefix="fab"
            />
        </a>
        <div class="attributions">
            Icons made by 
            <a href="https://www.freepik.com" title="Freepik">Freepik</a> 
            from 
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </div>
</div>