<div class="navigation-parent">
    <div class="navbar">
        <h1 class="nav-title">Title</h1>
        <a class="nav-link-1" href="/">Home</a>
        <a class="nav-link-2" href="/about/">About</a>
    </div>
</div>