<div class="navigation-parent">
    <div class="navbar">
        <h1 class="nav-title">Title</h1>
        <LinkTo @route="index" class="link-1 nav-link">Home</LinkTo>
        <LinkTo @route="about" class="link-2 nav-link">About</LinkTo>
    </div>
</div>